.card {
    border-radius: 4px;
    background: #fffbf0 !important;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(228, 221, 244);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    padding: 36px 80px 18px 36px;
    cursor: pointer;
}

.row {
    padding-top: 1rem;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(149, 58, 31, 255);
}

.card h3 {
    padding-top: 1rem;
    font-weight: 600;
    font-family: "Lora";
}

.card p {
    font-family: "Source Sans Pro";
}

.card img {
    max-width: 350px;
    height: auto;
}

a:link {
    text-decoration: none;
    color: #2d2d2d !important;
}

/* visited link */
a:visited {
    text-decoration: none;
    color: #2d2d2d !important;

}

/* mouse over link */
a:hover {
    text-decoration: none;
    color: #2d2d2d !important;

}

/* selected link */
a:active {
    text-decoration: none;
    color: #2d2d2d !important;
}