@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Lora');

body {
    background-color: #fffbf0 !important;
}

.image {
    height: 200px;
    width: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}